.cardy {
    display: inline-block;
    height: auto;
    width: 20%;
    margin-left: 12%;
    border-style: solid;
    border-width: 5%;
    border-radius: 5%;
    margin-top: 20%;
    margin-bottom: 10%;
}
.work-name {
    color: black;
}
.img-tag {
    display: block;
    margin: auto;
    max-width: 75%;
    max-height: auto;
    padding-bottom: 8%;
}

