
.main {
    padding-top: 15%;
    padding-bottom: 50%;
    /* margin-left: 20%; */
}
.name {
    -webkit-text-fill-color: #546048;; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #36412b;
    font-size: 5.5em;
}
.greetings {
    color: #626d54;
    -webkit-text-fill-color: white; /* Will override color (regardless of order) */
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: black;
}
.last {
    font-size: 1.5em;
    -webkit-text-fill-color: #546048 ;
    -webkit-text-stroke-width: .5px;
    -webkit-text-stroke-color: black;
}

.contents {
    font-weight: bold;
    text-align: center;
}
@media screen and (max-width: 450px) {
    .main {
        margin-top: 15%;
        margin-left: 2%;
    }
}